// Typography
%sans         { font-family: "Open Sans", sans-serif; }
%serif        { font-family: "PT Serif", Georgia, serif; }
@mixin sans   { @extend %sans; }
@mixin serif  { @extend %serif; }


// Color
$blue:  #3aaacf;
$black: #4a4a4a; // Fake black :P. You should never use pure black http://ianstormtaylor.com/design-tip-never-use-black/
$grey:  #aaa;
$w:     #fff;
$b:     #000; // Now this is pure black, used for RGBA only though

%black        { color: $black; }
%blue         { color: $blue; }
%w            { color: $w; }
@mixin black  { @extend %black; }
@mixin blue   { @extend %blue; }
@mixin w      { @extend %w; }


// Function: Convert pixels to EM
@function pem($pixels) {
  @return #{$pixels/16.0}em
}

@mixin respond($query-width) {
  @media (min-width: $query-width) { @content; }
}

.clearfix {
  &:before {
    content: "";
    display: table;
  }
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  @include sans;
  @include black;
  background-color: #e73c34;
}

p {
  margin-bottom: 1em;
}

#{headings(all)} {
  font-family: "Montserrat";
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 50px;
}
