.content {
  padding-top: pem(50);
  padding-bottom: pem(50);
}

article {
  margin-bottom: pem(50);
}

.post-title {
  margin-bottom: 0.25em;
}

.post-meta {
  @include sans;
  font-weight: 400;
  color: $grey;

  a {
    color: $grey;

    &:before {
      content: '\2022';
      padding-right: pem(5);
      padding-left: pem(5);
    }
    &:hover {
      color: $blue;
    }
  }
}

.entry-content {
  @extend %clearfix;
  
  @include respond( pem(481) ) {
    font-size: pem(18);
    line-height: 1.6;
  }
  
  a {
    color: $blue;

    &:hover {
      border-bottom: 1px solid $blue;
    }
  }

  img {
    border: 3px solid $grey;
  }
}

.img-small {
  
  @include respond( pem(350) ) {
    max-width: 45%;
  }
}

.archive-year {
  margin-bottom: 0;
  margin-top: pem(20)
}