@import "reset";
@import "base-class";

/* Typography  */

body {
  @extend %black;
  @extend %sans;
  font-size: 100%;
  line-height: 1.75;
}

p {
  margin-bottom: 1em;
}

a {
  @extend %black;
  @include single-transition(0.3s ease-in all);
  text-decoration: none;

  &:hover {
    @extend %blue;
  }
}

pre {
  background: #f4f4f4;
  font-size: 85%;
}

pre {
  padding: 1em;
  margin-bottom: 1.2em;
  line-height: 1.5;
  overflow: auto;
  white-space: pre;
}

code {
  border-radius: 2px;
  padding: 0.1em 0.4em;
  border: 1px solid #ece6da;
  background: #f8f5f0;
  margin: 0 3px;
  font-size: 85%;
}

.post h2,
.post h3 {
  margin-top: 2em;
}

h1 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  line-height: 1.2;
}

h2 {
  font-size: 1.6em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

h3, .post-title {
  font-size: 1.3em;
  line-height: 1.5;
  margin-bottom: 0.75em;
}

ul, ol {
  margin-bottom: 1.5em;
  margin-left: 2.5em;
}

li {
  margin-bottom: 1em;
  // line-height: 1.25;
}

blockquote {
  font-size: 1.25em;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
  border-left: 10px solid #ece6da;
  background: #f8f5f0;

  cite,
  small {
    @extend %sans;
    font-style: normal;
    font-size: 0.85em;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

/* Layout Skeleton */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.bg-column {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background: #f8f5f0;
  border-right: 1px solid #ece6da;
}

.container {
  position: relative;
  
  &:before {
    content: "";
    display: table; }
  &:after {
    content: "";
    display: table;
    clear: both;
  }

}

.site-title {
  @extend %heading;
  margin-bottom: 0;
  text-transform: uppercase;

  a {
    @extend %black;

    &:hover {
      border-bottom: 3px solid $blue;
      @include transition-duration(0s);
    }
  }
}

.site-header {
  margin-bottom: 1em;
}

.site-header p {
  font-size: 90%;
  margin-bottom: 0;
}

.navbar {
  margin: 1em 0;
  border-top: 1px solid #ece6da;

  a {
    @extend %blue;
    display: block;
    border-bottom: 1px solid #ece6da;
    line-height: 2.5;

    &:hover, &.active {
      @extend %black;
      @include background-image(linear-gradient(left, #f8f5f0, #fff));
    }
  }
}

article {
  margin-bottom: 3em;

  h3 {
    margin-bottom: 0;
    // line-height: 1
  }
  time {
    font-size: 85%;
    color: #aaa;
    margin-bottom: 2em;
    display: block;
  }
  img {
    max-width: 100%;
  }

  a {
    border-bottom: 1px solid #eee;
    color: $blue;

    &:hover {
      border-color: $blue;
    }
  }
}

.pagination {
  display: inline-block;

  a {
    @include border-radius(25px);
    display: block;
    height: 50px;
    line-height: 43px;
    padding: 0 15px;
    border: 3px solid #ece6da;
    background: #f8f5f0;

    &:hover {
      border-color: $blue;
      background-color: #fff;
    }
  }
}

.next {
  float: right;
}

.post-title {
  margin-bottom: 0;

  a {
    @extend %black;
    border: none;

    &:hover {
      @extend %blue;
    }
  }
}

.pagenavi,
.navigation {
  padding-top: 3em;
  position: relative;

  &:before {
    border-top: 1px solid #ece6da;
    position: absolute;
    width: 999em;
    content: '';
    top: 0;
    z-index: -1;
  }
}

.navigation {
  span {
    text-transform: uppercase;
  }
  a {
    @extend %heading;
    display: block;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.archive-list {

  li {
    border-bottom: 1px solid #ece6da;
    margin-bottom: 0.5em;
    padding-bottom: 0.5em;
  }
}

.colophon {
  float: right;
  color: #aaa;
  font-size: 85%;
  padding-bottom: 3em;
}

#comments {
  margin-bottom: 1em;
}

@media screen and (max-width:767px) {
  
  .site-meta {
    background: #f8f5f0;
    margin-bottom: 3em;
  }

  .site-header {
    padding: 1em 1em 0;
  }

  .site-meta iframe {
    margin-left: 1em;
  }

  .navbar a {
    padding-left: 1em;
  }

  .content,
  .colophon {
    padding-left: 1em;
    padding-right: 1em;
  }

  .pagenavi,
  .navigation {

    &:before {
      right: -1em;
    }
  }

  .pagination {
    display: block;
    width: 100%;
    text-align: center;
  }

  .colophon {
    text-align: center;
  }

}

@media screen and (min-width:768px) {

  .container {
    padding: 5em 0;

   > div {
    float: left;
  }
 }

  .bg-column,
  .site-meta {
    width: 35%;
  }
  
  .site-meta {
    padding-left: 1em;
  }

  .content,
  .colophon {
    padding: 0 2em;
    width: 65%;
  }

  .pagenavi,
  .navigation {

    &:before {
      right: -2em;
    }
  }

}

@media screen and (min-width:900px) {
  
  .site-meta {
    padding-left: 3em;
  }

}

@media screen and (min-width:1200px) {
  
  .bg-column,
  .site-meta {
    width: 25%;
  }
  
  .site-meta {
    padding-left: 3em;
  }

  .content,
  .colophon {
    padding: 0 8em;
    width: 75%;
  }

  .pagenavi,
  .navigation {

    &:before {
      right: -8em;
    }
  }

}