%header#masthead.site-header{:role => "banner"}
  %h1.site-title
    %a.home-link{:href => "/", :rel => "home", :title => "Cekerholic"} Jurnal Aris FM
  %p.site-description Catatan seorang Front-end Developer
  %nav.site-navigation
    = link_to 'Tentang', '/about'
    = link_to 'Arsip', '/arsip'

