%head
  \
  %meta{:charset => "utf-8"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
  %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
  \
  = javascript_include_tag 'webfont'
  \
  = stylesheet_link_tag 'style'
  \
  = favicon_tag 'favicon.ico'


