!!!
%html
  = partial("structure/shared-header")
  \
  %title Jurnal Aris FM
  \
  %body
    \
    = partial("structure/header")
    .content.home= yield
    .container
      = partial("structure/footer")
