extends ./jade-comps/templates/layout

block content
  .container
    .home
      .branding

      .bio
        h1.bio__name
        h2.bio__title Front-end designer, full-time dreamer
        .bio__desc
          p A happy front-end designer at <a href="https://sebangsa.com">Sebangsa</a>. When not coding, I love to spend my time to read book, exploring new places or just wasting time on <a href="http://9gag.com/">9gag</a> and <a href="http://www.theguardian.com/uk">The Guardian</a>. Have a slightly odd taste in <a href="http://www.last.fm/user/oglek">musics</a>.
          p You can follow my social activities here:
          .bio__social.addthis_horizontal_follow_toolbox
