---
title: Arsip
---

- blog.articles.group_by {|y| y.date.year }.each do |year, articles|
  %h1= year
  %ul
    - articles.each do |article|
      %li
        %strong= link_to article.title, article
        \-
        %small 
          %time= article.date.strftime('%e %B %Y')
